* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #ffffff;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 10px -7px 20px #9d9d9e;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: #010101;
    margin: 0 15px;
}

.logo i {
    color: #5a23b1;
    font-size: 30px;
}

.search-bar {
    display: flex;
}

.search-bar input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 0 15px;
    margin-right: 5px;
    font-size: 17px;
    width: 400px;
    border: #010101 solid;
    border-radius: 25px;
}

.search-bar i {
    font-size: 30px;
    color: #010101;
    cursor: pointer;
    margin-top: 4px;
}

.search-bar i:hover {
    color: #5a23b1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #9d9d9e;
}

.top-right-icons {
    display: flex;
}

.cart-icon i {
    color: #010101;
    font-size: 30px;
    margin-right: 0 15px;
    transition: all .55s ease;
}

.cart-icon i:hover {
    color: #5a23b1;
    transform: translateY(-5px);
}

.menu i {
    color: #010101;
    font-size: 30px;
    margin: 0 15px;
    transition: all .55s ease;
}

.menu i:hover {
    color: #5a23b1;
    transform: translateY(-5px);
}

.products-row-one {
    display: flex;
    flex-direction: row;
    color: #000000;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    margin-top: 70px;
    padding: 20px;
}

.border {
    border: #9d9d9e solid;
    border-radius: 5px;
    padding: 30px;
}

.item-one {
    background-color: #ffffff;
    box-shadow: 2px 8px 20px 0px #9d9d9e;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}

.item-one img {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.item-two {
    background-color: #ffffff;
    box-shadow: 2px 8px 20px 0px #9d9d9e;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}

.item-two img {
    margin-bottom: 5px;
    padding-bottom: 5px;
}


.item-three {
    background-color: #ffffff;
    box-shadow: 2px 8px 20px 0px #9d9d9e;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}

.item-three img {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.item-four {
    background-color: #ffffff;
    box-shadow: 2px 8px 20px 0px #9d9d9e;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    flex-grow: 1;
    flex-basis: 0;
}

.item-four img {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.products-row-two {
    display: flex;
    flex-direction: column;
    color: #000000;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 20px;
}

.item-five {
    background-color: #ffffff;
    margin-bottom: 20px;
}

.item-six {
    background-color: #ffffff;
    margin-bottom: 20px;
}

.item-seven {
    background-color: #ffffff;
    margin-bottom: 20px;
}

.item-eight {
    background-color: #ffffff;
    margin-bottom: 20px;
}

.product-details {
    font-weight: normal;
    margin-top: 10px;
}

.main-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 14%;
}

.main-page img {
    width: 500px;
}

.main-page-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.main-page-text h2 {
    font-weight: 300;
    margin-top: 10px;
}

.buy-btn {
    border: #5a23b1 solid;
    padding: 10px;
    background-color: #5a23b1;
    border-radius: 25px;
    margin-top: 20px;
    transition: all .55s ease;
    cursor: pointer;
}

.main-page-text p {
    color: #f1f1f1;
}

.main-page-text p:hover {
    transform: translateY(-5px);
}